<launch> 
  <!-- load the robot dimensions and tuning -->
  <rosparam command="load" file="$(find mobrob_util)/src/robot_info.yaml" />

  <!-- node for reading and translating inputs from the ps3 controller, could be replaced with any other node that published a Joy msg in the same format-->
  <node name="gamepad_node" pkg="weeble_bot_util" type="gamepad_input.py" />
  
  <!-- node for turning joystick inputs into motor powers, can be edited to change what control scheme is in use-->
  <node name="control_node" pkg="weeble_bot" type="gamepad_control.py" />

  <!-- node for doing the actual gpio driving of the motors. currently runs them open-loop-->
  <node name="motor_node" pkg="motors" type="motor_node.py" />

</launch>
